@font-face {
  font-family: h1-font;
  src: url("../font/MotionPersonalUseBold-2O0od.ttf");
}
:root {
  --primery-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
body {
  background: #6d6d81;
}
a {
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

ul {
  list-style: none;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}
.nav ul a {
  color: var(--primery-color);
}
.nav ul .nav-item {
  padding: 10px 10px;
  color: var(--primery-color);
}

.nav ul .nav-item:hover {
  color: black;
  border-radius: 45px;
  background: rgb(128, 119, 119);
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////*/
header {
  background: url(../img/lobby.jpg) no-repeat center center/cover;
}

.header-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header-container {
  gap: 3rem;
  display: flex;
  grid-template-rows: 2;
}
.content-wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--primery-color);
   opacity: 0.5;
}
.content-wraper .first-name, 
.content-wraper .last-name {
  font-family: h1-font;
}
.content-wraper > p {
  padding: 1rem 0.5rem;
  line-height: 1.7rem;
}
.my-name {
  padding-top: 10%;
}
.my-name .first-name,
.my-name .last-name {
  font-size: 48px;
}

.profolio-image > img {
  width: 10vw;
  border-radius: 45px;
  opacity: 0.8;
}
