@font-face {
  font-family: h1-font;
  src: url("../font/GothamMedium.ttf");
}
@font-face {
  font-family: p-font;
  src: url("../font/GothamLight.ttf");
}
:root {
  --primery-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #6d6d81;
}
a {
  text-decoration: none;
}
p {
  font-family: p-font;
}
.checked {
  background-color: rgb(128, 119, 119);
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 1.5rem;
  grid-area: 1 / 1 / 2 / 5;
}

ul {
  list-style: none;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav ul a {
  color: var(--primery-color);
  font-family: p-font;
}

.nav ul .nav-item {
  padding: 10px 10px;
  color: var(--primery-color);

  border-radius: 45px;
}

.nav ul .nav-item:hover {
  background-color: rgb(128, 119, 119);
}

/*//////////////////////////////////////////////////////////////////*/
header {
  background: url(../img/lobby.jpg) no-repeat center center/cover;
}

.header-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.content-wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--primery-color);
  position: relative;
  grid-area: 3 / 3 / 4 / 4;
}
.content-wraper .first-name,
.content-wraper .last-name {
  font-family: h1-font;
  opacity: 0.8;
}
.content-wraper > p {
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  font-size: 23px;
  display: flex;
  flex-direction: column;
}

.my-name .first-name,
.my-name .last-name {
  font-size: 48px;
}

.img-container {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profolio-image > img {
  width: 190px;
  border-radius: 55px;
  opacity: 0.9;
  transform: scale(1);

  transition: transform 1s ease, opacity 1s ease, border-radius 1s ease;
}

.profolio-image > img:hover {
  cursor: zoom-in;
  opacity: 1;
  border-radius: 0;
  transform: scale(1.5);
  transition: all 1s ease;
}

/*  */
.close-about-btn,
.btn-contact,
.about-btn {
  display: none;
}
.close-wraper {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.close-about-btn ~ .close-wraper .close-about {
  padding: 1rem;
  border: black solid 2px;
  border-radius: 45px;

  width: 100px;
  transition: all ease 1s;
  font-size: 20px;
}
.close-about-btn ~ .close-wraper .close-about:hover {
  background: black;
  color: white;
  cursor: pointer;
  transition: all ease 1s;
}
.about-btn ~ label {
  padding: 1rem;
  border: white solid 2px;
  border-radius: 45px;
  display: block;
  width: 100px;
  margin-top: 2rem;
  font-size: 20px;
  align-self: center;
  transition: all ease 1s;
}

.about-btn ~ label:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: all ease 1s;
}

.about-btn:checked ~ label ~ .about-content {
  display: block;
  transition: all ease 1s;
}

.about-content p {
  line-height: 1.7;
}

.about-content {
  display: none;
  position: absolute;
  background: white;
  opacity: 0.95;
  color: #000;
  height: 100%;
  padding: 2rem;
  border-radius: 15px;
  color: black;
  font-size: 16px;
  transition: all ease 1s;
}
.header-content .content-wraper ul {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}
.header-content .content-wraper ul li {
  padding: 0 1rem;
}
.header-content .content-wraper ul li a {
  color: var(--primery-color);
}
.header-content .content-wraper ul li a i {
  margin: 1rem;
}
.email-btn-container {
  grid-area: 5 / 2 / 6 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-contact-btn {
  padding: 2rem;
  border-radius: 45px;
  color: white;
  border: solid 2px white;
  font-size: 40px;
  cursor: pointer;
}
.show-contact-btn:hover {
  background: gray;
  transition: 1s ease all;
}

.btn-contact-check:checked ~ .contact-form {
  display: flex;
}

.contact-form {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  background: url(../img/contact-us.jpg) no-repeat center center/cover;
}
.contact-form-wraper {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: gray;
  opacity: 0.9;
}

.contact-form-wraper form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-form-wraper form input {
  border-radius: 15px;
  padding: 10px;
}
.contact-form-wraper form label {
  font-size: 18px;
  padding: 10px 0;
  color: #fff;
}
.contact-form-wraper form .contact-btn-submit {
  width: 10rem;
  align-self: center;
  margin-top: 3rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: ease 1s background, color ease 1s, border-color 1s ease;
}
.contact-form-wraper form .contact-btn-submit:hover {
  background: black;
  color: white;
  border-color: black;
  transition: ease 1s all;
}

#massage {
  resize: none;
  padding: 10px;
  border-radius: 15px;
}

.email-close-btn-container {
  margin-top: 1rem;
}
.email-close-btn {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 45px;
  background: gray;
  color: white;
  cursor: pointer;
  transition: 1s ease color, background 1s ease;
}
.email-close-btn:hover {
  background: red;
  border-color: white;
  transition: 1s ease all;
}

/* Mobile */
@media (max-width: 800px) {
  .header-content {
    height: 130vh;
  }
  .header-container {
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0.5px;
    grid-row-gap: 0.5px;
  }

  .img-container {
    padding: 10px;
    grid-area: 1 / 3 / 4 / 5;
  }
  .content-wraper {
    grid-area: 4 / 1 / 7 / 5;
  }
  .profolio-image > img {
    width: 190px;
    border-radius: 55px;
    opacity: 0.9;
    transform: scale(1);
    margin-top: 0rem;
    transition: transform 1s ease, opacity 1s ease, border-radius 1s ease;
  }

  .profolio-image > img:hover {
    cursor: inherit;
    opacity: 1;
    border-radius: 55px;
    transform: scale(1);
    transition: all 1s ease;
  }

  .nav {
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    grid-area: 1 / 1 / 4 / 3;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .email-btn-container {
    grid-area: 7 / 1 / 8 / 5;
  }
  .email-btn-container .show-contact-btn {
    font-size: 15px;
    font-weight: bold;
  }
  .contact-form-wraper {
    width: 80%;
  }
  .contact-form{
    position: fixed;
  }
  
}
